### Vim files ###
#################
.*.*.sw*


### Python files ###
####################
*.pyc

### Local virtualenv folder ###
###############################
env

### Ant runComponent output folder ###
######################################
test/output

# local settings file 
settings.cfg

# Ignore auto generate log file when generating component
gen_component.log

add_component.sql
