# Set the environment variable D3MCONFIG to point to this file and change paths according to your system configuration

[Data]
dataset_root = /data/datasets
out_dir_root = /data/output
[TA2]
ta2_url = sophia.stevencdang.com:45042
