component.interpreter.path=
component.program.path=C:/anaconda3/Scripts/csvjson.exe
component.CSVTab.interpreter.path=C:\\Users\\hchen\\Anaconda3\\python.exe
component.CSVTab.program.path=program/convertTabCsv.py
