[Logging]
log_level = INFO
enable_syslog = True
enable_file_log = True
file_log_path = /rdata/dataStore/d3m/tmp
[TA2]
ta2_url = localhost:45042
[Output]
session_out_file = session.json
ui_out_file = ui.html
/*pred_out_file = predictions.tsv*/
