[Dataset]
dataset_dir = /d3mData
out_file = dataset-list.tsv
[Logging]
log_level = INFO
enable_syslog = True
enable_file_log = True
file_log_path = <Set to absolute path to some directory within this component dir>
