[Dataset]
out_file = datasetDoc.tsv
dataset_dir = /rdata/dataStore/d3m/datasets/seed_datasets_current
[Logging]
log_level = DEBUG
enable_syslog = True
enable_file_log = True
file_log_path = /rdata/dataStore/d3m/tmp


